body {
    background-color: rgb(79,245, 245);
}
.container-fluid {
    background-color: aqua; 
    padding-left: 20px;
}
h1 {
    font-size: 50px;
}
.container {
    background-color: rgb(12, 190, 190);
}
.list-group-item {
    margin-bottom: 20px;
}

.rating {
  margin-top: 10px;
}

/* Increase the padding and font size for the buttons */
.btn {
    padding: 15px 20px; /* Adjust the padding as needed */
    font-size: 18px;   /* Adjust the font size as needed */
  }
  
  /* Optionally, increase the size of the buttons on smaller screens (responsive design) */
  @media (max-width: 768px) {
    .btn {
      padding: 12px 15px;
      font-size: 16px;
    }
  }
  /* Increase the font size for the paragraph */
.container .list-group-item p {
    font-size: 20px; /* Adjust the font size as needed */
}

/* Increase the font size for the anchor */
.container .list-group-item a {
    font-size: 22px; /* Adjust the font size as needed */
}